body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #666a86;
  font-family: "Roboto", sans-serif;
}

.header-title {
  font-size: 5em;
  color: white;
}

.container {
  width: 50%;
  padding: 5em;
  border-radius: 2em;
  border: 2px solid #ffa69e;
  background-color: #788aa3;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
ul {
    color: #FAF3DD;
}

.card {
  width: 80%;
  padding: 2em;
  margin: 0.5em;
  border-radius: 1em;
  border: 2px solid #ffa69e;
  background-color: #5E6472;
}

.card-title {
  color: #b8f2e6;
  font-weight: 900;
}

button {
    height: 5em;
    width: 10em;
    font-size: 1em;
    border-radius: 0.5em;
    background-color: #AED9E0;
}

ul {
  font-size: 2em;
}

@media (hover: none) {
  body {
    background-color: red;
  }
  .container {
    width: 80%;
    margin: 0px;
    padding-left: 1em;
    padding-right: 1em;
  }
  .card {
    min-width: 80%;
  }
}
